
<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <p>
    <br>
    A supermarket is a self-service shop offering a wide variety of food, beverages and household products, <br> 
    organized into sections and shelves. It is larger and has a wider selection than earlier grocery stores, but is smaller and  <br>
    more limited in the range of merchandise than a hypermarket or big-box market. <br>

The supermarket typically has aisles for meat, fresh produce, dairy, and baked goods. <br> 
Shelf space is also reserved for canned and packaged goods and for various non-food items such as kitchenware, household cleaners, <br>
 pharmacy products and pet supplies. Some supermarkets also sell other household products that are consumed regularly, such as alcohol  <br>
 (where permitted), medicine, and clothes, and some sell a much wider range of non-food products: DVDs, sporting equipment, board games,  <br>
 and seasonal items (e.g., Christmas wrapping paper in December). <br>

A larger full-service supermarket combined with a department store is sometimes known as a hypermarket. <br> 
Other services may include those of banks, cafés, childcare centres/creches, insurance (and other financial services),  <br>
Mobile Phone services, photo processing, video rentals, pharmacies or petrol stations. If the eatery in a supermarket is substantial enough, <br> 
the facility may be called a "grocerant", a blend of "grocery" and "restaurant".<br>

The traditional supermarket occupies a large amount of floor space, usually on a single level.  <br>
It is usually situated near a residential area in order to be convenient to consumers.  <br>
The basic appeal is the availability of a broad selection of goods under a single roof, at relatively low prices. Other advantages  <br>
include ease of parking and frequently the convenience of shopping hours that extend into the evening or even 24 hours of the day.  <br>
Supermarkets usually allocate large budgets to advertising, typically through newspapers.  <br>
They also present elaborate in-shop displays of products. <br>


Supermarkets typically are chain stores, supplied by the distribution centers of their parent companies 
<br>thus increasing opportunities for economies of scale. Supermarkets usually offer products at relatively low prices by using 
<br>their buying power to buy goods from manufacturers at lower prices than smaller stores can. They also minimise financing costs by paying 
<br>for goods at least 30 days after receipt and some extract credit terms of 90 days or more from vendors. Certain products 
<br>(typically staple foods such as bread, milk and sugar) are very occasionally sold as loss leaders so as to attract shoppers to their store. 
<br>Supermarkets make up for their low margins by a high volume of sales, and with of higher-margin items bought by the attracted shoppers. 
<br>Self-service with shopping carts (trolleys) or baskets reduces labor cost, and many supermarket chains are attempting further reduction by 
<br>shifting to self-service check-out.</p>
</body>
</html>