<!DOCTYPE html>
<html>
<body>
    <p>
        OUR Store</p><p>
        SLN Terminus, Survey No.133, Kondapur, Gachibowli - Miyapur Rd, Jayabheri Enclave, Gachibowli, Hyderabad, Telangana 500032</p><p>
        Phone : +91-9958475800</p><p>
        Email : info@hypersupermarkets.com</p><p>
        To be the foremost Retail Brand which makes India healthy and happy, with an obsession to provide wholesome and freshest foods.</p><p>
        Passionately deliver convenient, competitive and meaningful solutions.</p><p>
        City Supermarket’s today runs about 58 stores.</p><p>Including 40 large format stores across 35 cities employing more than 5000 professionals
        who are specially trained to meet consumer needs.</p>
    </p>
</body>
</html>