<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<style>
    .sec3 {
        margin-left: 100px;
        margin-top: 20px;
        text-align:center;
        opacity: 1;
                
    }
    .sec1 {
            margin-top: 50px;
            margin-right: 500px;
            float: right;
            background-image: linear-gradient(white,green);
            border-radius: 10px;
        }

    

    /* .sec1 {
        margin-top: 50px;
        margin-right: 500px;
        float: right;
    } */
</style>

<body style="background-image:repeating-linear-gradient(white,#260d0d,#804000);">
    <div class="sec1">
        <form method="POST">
            <br>
            <p style="color: red;Enter Username">ENTER PRODUCT <input type="text" name="p_name1"
                    value={{request.form.username}}><br>
                <br><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <!-- <input type="submit" value="Submit"> -->
                <button style="background-color :#4d94ff;" type='submit' name="button">GET-POSITION</button></a>
            </p>
        </form>
        <p>{{l}}</p>
    </div>
    <div class="sec3">
        <div class="row1" >
            <div class="col-md-4" style="background-image:repeating-linear-gradient(aqua,#ffff66); border-radius: 50px;">
                <h6>
                    chicken
                    <br>escalope
                    <br>pasta
                    <br>honey
                    <br>ground beef
                    <br>tomato sauce
                    <br>light cream
                    <br>whole wheat pasta
                    <br>milk
                    <br>burgers
                    <br>tomatoes
                    <br>spaghetti
                    <br>ground beef
                    <br>shrimp
                    <br>soup
                    <br>honey
                    <br>mineral water
                    <br>grated cheese
                    <br>pepper
                    <br>frozen vegetables
                    <br>frozen smoothie
                    <br>herb & pepper
                    <br>fromage blanc
                    <br>avocado
                    <br>olive oil
                    <br>cooking oil
                    <br>eggs
                    <br>fromage blanc
                    <br>pancakes
                    <br>chocolate
                </h6>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>